html, body{
	height: 100%;
}
body{
	background-image: url("../img/mainBg.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.container{
	height: 100%;
	z-index: 10;
}
#star{
	background-image: url("../img/star.png");
	background-size: 50%;
	background-repeat: no-repeat;
	z-index: 10;
	position: absolute;
	top: -300px;
	left: 400px;
	-webkit-animation: stars 2s infinite;
	-o-animation: stars 2s infinite;
	animation: stars 2s infinite;
}
@keyframes stars{
	0%, 50% {top: -300px; left: 400px;}
	100% {top: 450px; left: -350px;}
}
